@{
    ViewBag.Title = "Shop Manager";
}

<head>
    <link href="../../Css/home-style.css" rel="stylesheet" />
</head>

<div class="jumbotron">

    <h3>Shop Manager - best partner in business</h3>
    @*@Html.ActionLink("Contacts", "Index", "Contacts")*@

    <div class="col-md-4">
        <button onclick="location.href='../Clients'">Clients</button>

        <button onclick="location.href='../Contacts'">Contacts</button>

        <button onclick="location.href='../Deliveries'">Deliveries</button>

        <button onclick="location.href='../Orders'">Orders</button>

        <button onclick="location.href='../Carts'">Carts</button>
    </div>

    <div class="col-md-4">
        <button onclick="location.href='../Computers'">Computers</button>

        <button onclick="location.href='../Processors'">Processors</button>

        <button onclick="location.href='../GraphicsCards'">Graphic Cards</button>

        <button onclick="location.href='../Motherboards'">Motherboards</button>

        <button onclick="location.href='../RAMs'">RAMs</button>

        <button onclick="location.href='../PowerSupplies'">Power Supplies</button>

        <button onclick="location.href='../Casings'">Casings</button>

        <button onclick="location.href='../Drives'">Drives</button>

        <button onclick="location.href='../Coolers'">Coolers</button>

    </div>
    <div class="col-md-4">
        <button onclick="location.href='../Peripherals'">Peripherals</button>

        <button onclick="location.href='../Accessories'">Accessories</button>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <h1>Shop/orders management system</h1>
    </div>
    <div class="col-md-4">
        <h1>Warehouse management system</h1>
    </div>
    <div class="col-md-4">
        <h1>Additional items management system</h1>
    </div>
</div>